# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shelve database files
*.db
*.dat
*.bak
*.dir

# PyMongo database files 
mongodb data/

# Specific files
test.py

# IDE/project settings
.idea/
.vscode/

Ali